.Input-field {
	background-color: #e98543;
	width: 30vw;
	height: 10vh;
	margin: 2vmin;
	padding: calc(2px + 2vmin);
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	box-shadow: inset 2px 2px 3px rgb(49, 21, 8),
		inset -2px 2px 3px rgb(49, 21, 8);
	text-align: center;
	text-shadow: 2px 2px 2px rgb(49, 21, 8);
	outline: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: calc(20px + 2vmin);
	letter-spacing: calc(15px + 2vmin);
}

.Submit-btn {
	width: 0px;
	height: 0px;
	display: block;
	visibility: hidden;
}