.Game-stats-container {
	width: 30vw;
	height: 58vh;
	position: absolute;
	bottom: 5vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: calc(15px + 2vmin);
}

.Scroll-table {
	width: 30vw;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	overflow-y: scroll;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
