.Icon-div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.Icon-image {
	width: 7vh;
	height: 7vh;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 50%;
}
