.App {
	background-image: url(./assets/barn.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
	background-color: #484d57;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: calc(6px + 2vmin);
}

.App-header {
	background-color: #873b12b3;
	width: 100vw;
	height: 10vh;
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffd079;
}
