.App {
	background-image: url(./assets/barn.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
	background-color: #484d57;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: calc(6px + 2vmin);
}

.App-header {
	background-color: #873b12b3;
	width: 100vw;
	height: 10vh;
	position: absolute;
	top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffd079;
}

.Form {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.Input-guess,
.Win-header {
	width: 100vw;
	height: 20vh;
	margin: 5vh;
	position: absolute;
	top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Game-stats-container {
	width: 30vw;
	height: 58vh;
	position: absolute;
	bottom: 5vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: calc(15px + 2vmin);
}

.Game-stats {
	width: 30vw;
	height: 10vh;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	color: #ffba3a;
}

.Scroll-table {
	width: 30vw;
	display: grid;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	overflow-y: scroll;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.Error {
	color: rgb(247, 186, 95);
	margin: -20px;
}

.Input-field {
	background-color: #e98543;
	width: 30vw;
	height: 10vh;
	margin: 2vmin;
	padding: calc(2px + 2vmin);
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	box-shadow: inset 2px 2px 3px rgb(49, 21, 8),
		          inset -2px 2px 3px rgb(49, 21, 8);
	text-align: center;
  text-shadow: 2px 2px 2px rgb(49, 21, 8);
	outline: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: calc(20px + 2vmin);
	letter-spacing: calc(15px + 2vmin);
}

.Submit-btn {
	display: block;
	visibility: hidden;
	height: 0px;
}

.Play-again {
	width: 40px;
	height: 40px;
	margin-top: 10px;
	text-transform: uppercase;
	background-color: #ffba3a;
	border: none;
	border-radius: 50%;
	box-shadow: 2px 2px 3px rgb(49, 21, 8);
	cursor: pointer;
	font-size: 3vmin;
	color: #2c2928;
}

.Win-message {
	color: white;
}

.Guess-count {
	color: rgb(247, 186, 95);
}

.Secret-number {
	color: white;
	font-size: calc(20px + 2vmin);
}
.bull,
.cow {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.bullIcon,
.cowIcon {
	width: 7vh;
	height: 7vh;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 50%;
}
